* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --dark-gray: #403D3A;
    --light-gray: #8C8680;
    --dark-brown: #594736;
    --medium-brown: #8C6F56;
    --light-brown: #D9CEC5;
    --header-font: novecento-sans-wide, sans-serif;
    --text-font: hero-new, sans-serif;
}

body {
    display: block;
}

/*_generally for header, nav, and splash-images on each page_*/

header {
    height: 100vh;
    width: 100vw;
}

nav {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
}

#home-but {
    width: 150px;
    align-self: flex-start;
    margin: 20px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 15px 20px;
}

nav div {
    display: flex;
}

nav a {
    padding: 0 20px;
    flex-shrink: 1;
    text-decoration: none;
    color: white;
    font-family: var(--header-font);
    font-style: normal;
    font-size: 1rem;
}

.splash {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: 0% 50%;
    background-image: url("v-studio(3).png");
    filter: brightness(50%);
    z-index: 0;
}

/*_generally for footer on all pages_*/

footer {
    height: auto;
    width: 100vw;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .foot-column {
    flex-shrink: 1;
    flex-basis: 190px;
    padding: 20px;
    font-family: var(--text-font);
    color: white;
}

.footer_logo {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 175px;
}


/*_header fonts_*/

h1,
h2 {
    font-family: var(--header-font);
}

/*_home-page_______________________________________________*/

#intro {
    margin: auto;
    width: 80vw;
    max-width: 1000px;
    background-color: #0000;
    position: relative;
    z-index: 2;
}

h1 {
    color: white;
    font-family: var(--header-font);
    margin: -100px auto 0 auto;
    font-size: 2.5rem;
}

#intro blockquote {
    color: black;
    background-color: white;
    font-family: var(--text-font);
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    padding-top: 20px;
}

/*_makes quotetation marks around quote on frontpage_*/
#intro blockquote p:before,
#intro blockquote p:after {
    content: '"';
}

#intro p {
    color: black;
    background-color: white;
    font-family: var(--text-font);
    padding: 0 40px 40px 40px;
}

/*_front page sections (serives, work, costumers)_*/

.fp_element {
    width: 100vw;
    color: black;
    background-color: var(--light-brown);
}

.fp_element h2 {
    text-align: center;
    margin: auto;
    font-family: var(--header-font);
    font-size: 3rem;
    padding-top: 20px;
}

.fp_element p {
    font-family: var(--text-font);
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}
