* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

:root {
    --dark-gray: #403D3A;
    --light-gray: #ececec;
    --footer: #898989;
    --dark-brown: #594736;
    --medium-brown: #8C6F56;
    --light-brown: #f6f6f6;
    --fp-el: #D9CEC5;
    --header-font: novecento-sans-wide, sans-serif;
    --text-font: hero-new, sans-serif;
}

body {
    display: block;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.hidden {
    display: none;
}

/*_hover-effekter_*/

nav div a:hover,
#home-but:hover {
    animation-name: kf_hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes kf_hover {
    0% {
        transform: scale(0.95);
        opacity: 1;
    }

    65% {
        transform: scale(1.25);
    }

    100% {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

footer a:hover {
    opacity: 0.8;
}

.arrowbuttonright:hover,
.arrowbuttonleft:hover,
.projectbuttonright:hover,
.projectbuttonleft:hover,
button:hover {
    opacity: 0.85;
}

/*_generally for header, nav, and splash-images on each page_*/

header {
    height: 100vh;
    width: 100vw;
}

nav {
    width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
}

nav h2 {
    color: white;
    padding-top: 40px;
    font-size: 1rem;
}

nav section {
    align-self: baseline;
    padding-top: 40px;
}

#start_nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#home-but {
    width: 150px;
    align-self: flex-start;
    margin: 20px 40px;
}

nav div {
    display: flex;
}

nav a {
    padding: 0 20px;
    flex-shrink: 1;
    text-decoration: none;
    color: white;
    font-family: var(--header-font);
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

.splash {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 15% 50%;
    filter: brightness(50%);
    z-index: 0;
    min-height: 360px;
    position: relative;
}

/*_generally for footer on all pages_*/

footer {
    height: auto;
    width: 100vw;
    background-color: var(--footer);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px 0;
}

footer .foot-column {
    flex-shrink: 1;
    flex-basis: 190px;
    padding: 20px;
    font-family: var(--text-font);
    color: white;
}

.footer_logo {
    width: 175px;
    padding-top: 0;
}

footer img {
    width: 47px;
    padding-top: 20px;
}




/*_header fonts_*/

h1,
h2,
h3 {
    font-family: var(--header-font);
}

p {
    font-family: var(--text-font);
}

/*_home-page_______________________________________________*/

#intro {
    margin: auto;
    width: 80vw;
    max-width: 1000px;
    background-color: #0000;
    position: relative;
    z-index: 2;
}

h1 {
    color: white;
    font-family: var(--header-font);
    margin: -200px auto 0 auto;
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#intro blockquote p {
    color: black;
    background-color: white;
    font-family: var(--text-font);
    font-style: italic;
    font-weight: 400;
    font-size: 2.9rem;
    padding: 50px 20px;
}

/*_makes quotetation marks around quote on frontpage_*/
#intro blockquote p:before,
#intro blockquote p:after {
    content: '"';
}

#intro p {
    color: black;
    background-color: white;
    font-family: var(--text-font);
    padding: 0 40px 40px 40px;
    font-size: 1.2rem;
}

/*_VIDEO____________________________________________________________________*/
video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*_front page sections (serives, work, costumers)_*/

.fp_element {
    width: 100vw;
    color: black;
    background-color: var(--fp-el);
    padding: 40px 0;
}

.fp_element h2 {
    text-align: center;
    margin: auto;
    font-family: var(--header-font);
    font-size: 3rem;
    padding: 20px 0;
    text-transform: uppercase;
}

.fp_element p {
    font-family: var(--text-font);
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

/*_my services section_*/

#my-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
    max-width: 1000px;
}

#my-services .icon {
    width: 100px;
    background-color: white;
    border-radius: 50%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    margin: 60px 20px;
    padding: 10px 40px 20px 40px;
}

.service:nth-of-type(2) {
    background-color: var(--light-brown);
}

.service h3 {
    font-family: var(--header-font);
    padding: 20px;
    text-align: center;
}

.service p {
    font-family: var(--text-font);
}

/*_my work section_*/

#my-work {
    display: grid;
    grid-template-areas: "left-button work right-button";

}

#my-work #containerProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 1fr;
    margin: 40px auto;
    width: 60vw;
    overflow-x: scroll;
    grid-area: work;
    scroll-behavior: smooth;
}

.projectbuttonright {
    grid-area: right-button;
}

.projectbuttonleft {
    grid-area: left-button;
    transform: rotate(180deg);
}

#my-work #containerProjects section {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    justify-content: space-between;
    grid-row: 1/2;
    width: 300px;
}

#my-work #containerProjects section:nth-child(even) {
    background-color: var(--light-brown);
    flex-direction: column-reverse;
}

#my-work #containerProjects section div {
    padding: 20px;
}

#my-work section div h3 {
    padding-bottom: 20px;
}

.project p {
    line-height: 170%;
}

#my-worksec a {
    background-color: var(--light-gray);
    color: black;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    line-height: 60px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}

#my-worksec a:hover {
    opacity: 0.8;
}

/*_customer review section_*/

#customers {
    display: grid;
    grid-template-areas: 'but-left content but-right';
    padding: 40px 0;
}

.review {
    width: 100%;
    margin: auto;
    padding: 40px;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: grid;
    grid-template-areas: 'review review review review''pic name name name';
}

.review h3 {
    grid-area: name;
    margin: auto 0;
    white-space: break-spaces;
}

.review p {
    grid-area: review;
    padding: 20px;
    white-space: normal;
}

.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-area: pic;
}

.arrowbuttonright,
.arrowbuttonleft,
.projectbuttonright,
.projectbuttonleft {
    width: 150px;
    height: 150px;
    padding: 40px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}

.arrowbuttonright {
    grid-area: but-right;
}

.arrowbuttonleft {
    grid-area: but-left;
    transform: rotate(180deg);
}

#containerReviews {
    grid-area: content;
    overflow: auto;
    display: flex;
    flex-direction: row;
    width: 60vw;
    white-space: nowrap;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 900px) {

    /*_code to hide scroolbar in #containerReviews and #containerProjects is taken from w3schools*/
    /* Hide scrollbar for Chrome, Safari and Opera */
    #containerReviews::-webkit-scrollbar,
    #containerProjects::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #containerReviews,
    #containerProjects {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /*_end of code from w3schools_*/
}

/*_MEDIA QUERIES___________________________________________________*/

/*_font-size_*/
@media only screen and (max-width: 850px) {
    #intro blockquote p {
        font-size: 2rem;
    }

    #intro p,
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    #intro blockquote p {
        font-size: 1.5rem;
    }

    .fp_element h2 {
        font-size: 2rem;
    }

    #containerProjects {
        width: 70vw;
    }
}

/*_front page changes_*/

@media only screen and (max-width: 850px) {
    #intro p {
        padding: 0 15px 15px 15px;
    }

    nav div a {
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .fp_element {
        padding: 0 25px;
    }

    .fp_element p {
        width: auto;
    }

    .review img {
        width: 50px;
        height: 50px;
    }

    .review {
        padding: 15px;
    }

    #customers {
        padding: 0;
    }


    #start_nav h2 {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 900px) {
    #my-services {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .service {
        margin: 30px 20px;
        padding: 40px;
    }
}

@media only screen and (max-width: 760px) {

    .arrowbuttonright,
    .arrowbuttonleft,
    .projectbuttonright,
    .projectbuttonleft {
        width: 50px;
        height: 50px;
        padding: 5px;
    }
}


/*_footer when screen less than 850px wide_*/
@media only screen and (max-width: 650px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}

/*_Burger Menu when screen less than 1050px wide_*/
@media only screen and (max-width: 1130px) {
    nav {
        align-items: flex-start;
    }

    nav div {
        flex-direction: column;
    }

    .hidemenu {
        display: none;
    }

    nav div a {
        padding: 10px;
    }

    .hidden {
        display: block;
    }

    nav section {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    nav button {
        background-color: #0000;
        color: white;
        border: none;
        align-self: flex-end;
        padding: 0 20px;
        font-size: 3rem;
        margin-top: -15px;
    }
}


/*_Arrows to scroll through projects disappears at 900px and scrollbar appears again_*/
@media only screen and (max-width: 900px) {

    .arrowbuttonright,
    .arrowbuttonleft,
    .projectbuttonright,
    .projectbuttonleft {
        display: none;
    }

    #containerReviews::-webkit-scrollbar,
    #containerProjects::-webkit-scrollbar {
        display: block;
    }

    /* show scrollbar for IE, Edge and Firefox */
    #containerReviews,
    #containerProjects {
        -ms-overflow-style: auto;
        /* IE and Edge */
        scrollbar-width: auto;
        /* Firefox */
    }

    #my-work #containerProjects,
    #containerReviews {
        width: 90vw;
    }
}

/*_resize logo in top when screen less than 500px_*/

@media only screen and (max-width: 560px) {
    #home-but {
        width: 75px;
        padding: 0;
        margin: 0;
    }

    #start_nav h2 {
        padding: 10px;
    }

    #start_nav {
        padding-top: 20px;
    }

    nav button {
        margin-top: -30px;
    }

}

@media only screen and (max-width: 420px) {
    #home-but {
        width: 50px;
        padding: 0;
        margin: 0;
    }

    #start_nav h2 {
        padding: 5px;
    }

}

@media only screen and (max-width: 360px) {

    #start_nav h2 {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    #intro blockquote {
        font-size: 2rem;
    }

}
